---
# Custom Terminal theme.
- name: Get current Terminal profile.
  command: defaults read com.apple.terminal 'Default Window Settings'
  register: terminal_theme
  changed_when: false
  failed_when: false
  check_mode: false

- name: Ensure custom Terminal profile is added.
  copy:
    src: files/terminal/JJG-Term.terminal
    dest: /tmp/JJG-Term.terminal
  changed_when: false
  when: "'JJG-Term' not in terminal_theme.stdout"

- name: Ensure custom Terminal profile is added.
  command: open /tmp/JJG-Term.terminal
  changed_when: false
  when: "'JJG-Term' not in terminal_theme.stdout"

- name: Ensure JAVA_HOME is set for Zulu 17 in .zshrc.
  lineinfile:
    path: ~/.zshrc
    line: export JAVA_HOME=/Library/Java/JavaVirtualMachines/zulu-17.jdk/Contents/Home
    create: true
    state: present

- name: Ensure Starship is initialized in .zshrc.
  lineinfile:
    path: ~/.zshrc
    line: eval "$(starship init zsh)"
    create: true
    state: present
